.linkHome {
  margin-right: 15px;
}

.wrapper {
  display: flex;
  align-items: center;
}
.link {
  color: black;
  transition: color box-shadow ease 150ms;
  transition: box-shadow ease 150ms;
}

.link:hover,
.link:focus {
  box-shadow: 0px 2px 21px -9px rgba(0, 0, 0, 0.75);
}

.active {
  color: rgb(20, 31, 192);
}

.link:not(:last-child) {
  margin-right: 15px;
}

.link:hover:not(.active),
.link:focus:not(.active) {
  color: rgb(37, 11, 153);
}
