.header {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 10px;
}
.parag {
  display: inline-block;
  margin-bottom: 5px;
}

.span {
    display: inline-block;
  font-size: 18px;
  font-weight: 600;
}

.paragWarn{
    color: red;
    font-weight: 600;
}

.button{
    display: inline-flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    width: 85px;
    /* margin: 0 auto; */
    margin-right: 55px;
}
.icon{
    display: block;
margin-right: 5px;
}