.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listItem {
  padding: 10px;
  position: relative;
  width: 400px;
  margin: 10px auto;
  border: 0.5px solid black;
  border-radius: 5px;
}

.title {
  display: inline-block;
  padding-left: 15px;
}
.userName {
  display: flex;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
}
.userPhone {
  display: flex;
}
.button {
  position: absolute;
  right: 10px;
  top: 76%;
  transform: translateY(-50%);
}

.buttonEdit {
  position: absolute;
  right: 10px;
  top: 30%;
  transform: translateY(-50%);
}
