/* .wrapper {
  position: sticky;
  top: 15px;
  background-color: white;
  z-index: 2;
} */

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 35px;
  border: 0.5px solid black;
  border-radius: 5px;
}
.input {
  margin-bottom: 15px;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 5px;
}
.inputSecond {
  margin-bottom: 25px;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 5px;
}
.btn {
  margin: 0 auto;
  width: 150px;
}
.errorName {
  top: 62px;
  position: absolute;
  color: red;
  font-size: 12px;
}
.errorNumber {
  top: 132px;
  position: absolute;
  color: red;
  font-size: 12px;
}
