
 .wrapper {
    position: relative;
    height: 40vw;
    display: flex;
    justify-content:center;
    align-items:start;
    background-image: url('./404.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
 }
 .backLink{
    position: absolute;
    margin-top: 50px;
    color: red;
    font-size: 24px;  
}